
/* bootstrap core css */
.card-title{
    font-family: 'Open Sans', sans-serif !important;
}
.card-text{
    font-family: 'Open Sans', sans-serif !important;
}
/* Section 1 Start */

#web-head{
    color: #122b32;
    font-family: 'Open Sans', sans-serif !important;
}

#sea-bg{
    background-image: url(../img/Baltic_blooms_2.jpg);
    background-repeat: no-repeat;
    height: 500px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.layer {
    background-color: rgba(9,35,59,0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#sea-card{
    margin-top: 40px;
    top: 100px;
    background-color:  rgb(9,35,59);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25) !important;
}

.card-title-1{
    font-size: 48px;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: bolder;
}

.card-title-2{
    color:  yellow;
    font-size: 60px;
    text-decoration: underline;
    font-weight: bolder;
}
/* Section 1 End */

/* Section 2 Start */
.stat-title{
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    font-size: 32px;
    color: #132c33;
}

.stat-body{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bolder;
    font-size: 18px;
    padding-left: 10px !important;
}
.stat-space{
    /* margin: 10px !important; */
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-style: solid !important;
    border-radius: 10px;
    border-width: 1px !important;
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin-right: 2px; */
    /* margin: 2px 2px 2px 2px; */
}
.stat-highlight{
    background-color: rgba(69,148,151,0.6)
}
#stat-head-title{
color: #132c33;
    /* text-align: center; */
    text-decoration: underline;
    margin-bottom: 0px;
    padding-top: 20px;}
/* Section 2 End */

/* Section 3 Start */
#eutro-head-title{
    color: #fad61f;
    /* text-align: center; */
    text-decoration: underline;
    margin-bottom: 0px;
    padding-top: 20px;    
}
#eutro-head-title-1{
    color: #132d33;
    text-align: right;
    padding-top: 10px;
    margin-bottom: 0px;
}
#sec-head{
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
}

#eutro-bg{
    background-image: url(../img/eutro.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px !important;
    padding: 0px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25) !important;
}
.layer-2{
    background-color: rgba(69,148,151,0.6); 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: 0px;
    border-radius: 10px !important;
    padding: 0px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25) !important;
}

#eutro-card{
    margin-top: 20px;
    background-color:  rgb(19,45,51);
    color:#fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25) !important;
}

.eutro-num{
    top: 50%;
    left: 50%; 
    border-radius: 50%;
    width: 72px;
    height: 72px;

    background: transparent;
    border: 5px solid #fad61f;
    color: #fad61f;
    text-align: center;

    font: 60px Arial, sans-serif;
}
.card-title-4{
    color: #fad61f;
}
#eutro-head-left{
    padding-right: 3px;
}
/* #eutro-head-right{ */
    /* padding-left: 0px; */
    /* padding-top: 22px; */
/* } */
/* .eutro-num-align{
    justify-content: center;
} */
/* 
.eutro-col-card {
    height: 200px;
} */

/* Section 3 End */


/* Section 4 Start */
.card-title-3{
    font-size: 48px;
    font-family: 'Oswald', sans-serif;
    color: #122b32;
    font-weight: bolder;
}
#cta-card{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-left-width: 0px !important;
}
#cta-title{
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
}

#cta-bloom{
    background-image: url(../img/Baltic_blooms_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25) !important;
}
/* Section 4 End */
/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
 
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .card-title-1{
        font-size: 24px;
        text-align: center;
    }
    .card-title-2 {
        font-size: 36px;
        text-align: center;
    }
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .card-title-1{
        /* font-size: 24px; */
        /* text-align: center; */
    }
    .card-title-2 {
        /* font-size: 36px; */
        /* text-align: center; */
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }